.space-carousel {
  padding: 16px;
  overflow: hidden;
}
/* 导航菜单 */
.nav {
  margin-top: 15px;
  
  img {
    width: 30px;
    height: 30px;
  }

  h2 {
    font-size: 14px;
    font-weight: 500;
  }
}
.nan_list{
  text-align: center;
}
