.placeholder {
  background-color: #ebebef;
  color: #bbb;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
.Flex_img{
  width: 13rem;
  margin: 1rem;
}
.Flex_right{
  height: 11rem;
  .Flex_p{
    margin-top: 3rem;
  }
}
.title{
  margin-left: 20px;
}